extends ../base 

block content
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(type="password", placeholder="oldpassword",required,name="oldpassword")
        input(type="password", placeholder="newpassword",required,name="newpassword")
        input(type="password", placeholder="newpassword2",required,name="newpassword2")
        input(type="submit",value="Save")

